*{
  margin: 0px;
  padding: 0px;
  background: black;
  color: gold;
}
h1{
  text-align: center;
  margin: 20px;
}
p{
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width:600px;
}
